<hr>
<p *ngIf="loading">Loading...</p>
<div *ngIf="details && ! loading">
    <h3>{{ details.name || details.title }}</h3>
    <p>
        {{ group | titlecase }}'s detail
        <button (click)="close()">
            Close
        </button>
    </p>
    <ul>
        <ng-container *ngFor="let fieldName of getGroupFields()">
            <ng-container *ngIf="details[ fieldName ] as detail">
                <li *ngIf="isNotEmpty(detail)">
                    <b>{{ parseTitle(fieldName) | titlecase }}:</b>
                    <ul *ngIf="isList(detail)">
                        <li *ngFor="let link of detail">
                            <button (click)="reload(link.url || link)">
                                Detail
                            </button>
                            {{ link.title || link }}
                        </li>
                    </ul>
                    <ng-container *ngIf="! isList(detail)">
                        <button *ngIf="detail.url" (click)="reload(detail.url)">
                            Detail
                        </button>
                        {{ detail.title || detail }}
                    </ng-container>
                </li>
            </ng-container>
        </ng-container>
    </ul>
</div>
